@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Silkscreen:wght@400;700&display=swap');

:root {
  --background: #FBF4E6;
  --foreground: #000000;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'sharp-grotesk';
  /* Choose a name for your font family */
  src: url('../fonts/sharp-grotesk.otf')
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #FBF4E6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-grotesk {
  font-family: 'sharp-grotesk';
}

.font-silkscreen {
  font-family: "Silkscreen", sans-serif;
  font-weight: 600;
}

.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

/* Marquee Animation */
@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}

.animate-slide:hover {
  animation-play-state: paused;
}